

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/*Press Start 2P is a bitmap font based on the font design from 1980s Namco arcade games. 
It works best at sizes of 8px, 16px and other multiples of 8.*/

/* font-family: 'Press Start 2P', cursive; */

* {
    margin: 0;
    padding: 0;
    border: none;
}

.textbox-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.text-box {
    background-color: black;
    color: cornsilk;
    border: solid 10px cornsilk;
}

.text-box-main {
    width: 66%;
    height: 300px;
}

.text-box-second {
    height: 300px;
    width: 33%;
}